<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <hr>
    <div class="display-1 text-muted text-lowercase text-end"> Hello world</div>
    <hr>
    <div class="text-muted text-capitalize text-end">
        додатковий текст
    </div>
    <hr> 

    <button class="btn btn-primary">
        Text button
    </button>
    <hr>
        <a href="#" class="btn btn-success">
            Text button
        </a>

        <hr>

        <p class="text-primary">My text</p>
        

        <hr>

        <button class="btn btn-outline-primary">
            Text button
        </button>
        <hr>
        <button class="btn btn-secondary">додати</button>
        <button class="btn btn-outline-secondary">редагувати</button>
        <button class="btn btn-outline-danger">видалити</button>
        <hr>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-secondary btn-lg">додати</button>
                <button class="btn btn-outline-secondary btn-sm">редагувати</button>
                <button class="btn btn-outline-danger">видалити</button>
            </div>
        </div>

        <br>
        <br>

            
        <div class="card">
            <div class="card-body">
                this is content
            </div>
        </div>


</main>