<div>
    <ul>
        {{#each list}}
        <li>
            <button {{#if @last }}disabled{{/if}}>{{name}} - {{@index}}</button>
        </li>
        {{/each}}
        <br>
        <br>
        {{#each user}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>